REMOTE_HOST=seu-host-remoto
REMOTE_PORT=43306

CT_CLIENTE=MQP

DB_OPER_HOST=proxy-db
DB_OPER_PORT=3306
DB_OPER_USER=root
DB_OPER_PASSWORD=
DB_OPER_NAME=menquip

DB_IOT_HOST=proxy-db
DB_IOT_PORT=3306
DB_IOT_USER=root
DB_IOT_PASSWORD=
DB_IOT_NAME=menquip
