ODBC_1_DSN_NAME=cache
ODBC_1_DRIVER=/usr/cachesys/bin/libcacheodbc35.so
ODBC_1_DESCRIPTION=Cache ODBC driver
ODBC_1_SERVER=192.168.1.1
ODBC_1_NAMESPACE=CONSISTEM
ODBC_1_UID=USUARIO
ODBC_1_PWD=SENHA
ODBC_1_PORT=1972
ODBC_1_PROTOCOL=TCP
ODBC_1_QUERY_TIMEOUT=1
ODBC_1_STATIC_CURSORS=0
ODBC_1_TRACE=off
ODBC_1_TRACEFILE=iodbctrace.log
ODBC_1_AUTH_METHOD=0
ODBC_1_SECURITY_LEVEL=2
ODBC_1_SPN=cache/localhost.domain.com
